.TechDomain {
  transition: all 0.1s linear;
  transform: rotate3d(1, 0, 0, 45deg);
}

.TechDrop {
  /* background-color: #fca51a; */
  border-radius: 50%;
  filter: blur(25px);
  box-shadow: inset 0 100px 10px #fca51aa4;
  transform: rotate3d(1, 0, 0.2, 45deg);
}
.PrDrop {
  /* background-color: #fca51a; */
  border-radius: 50%;
  filter: blur(25px);
  box-shadow: inset 0 100px 10px #358bc6a4;
  transform: rotate3d(1, 0, 0.2, 45deg);
}
.EventDrop {
  /* background-color: #fca51a; */
  border-radius: 50%;
  filter: blur(25px);
  box-shadow: inset 0 100px 10px #0071e3a4;
  transform: rotate3d(1, 0, 0.2, 45deg);
}
.GraphicsDrop {
  /* background-color: #fca51a; */
  border-radius: 50%;
  filter: blur(25px);
  box-shadow: inset 0 100px 10px #23edcba4;
  transform: rotate3d(1, 0, 0.2, 45deg);
}
.CrDrop {
  /* background-color: #fca51a; */
  border-radius: 50%;
  filter: blur(25px);
  box-shadow: inset 0 100px 10px #4ad8fea4;
  transform: rotate3d(1, 0, 0.2, 45deg);
}

.Tech:hover .TechDomain,
.Pr:hover .TechDomain,
.Event:hover .TechDomain,
.Cr:hover .TechDomain,
.Graphics:hover .TechDomain {
  transform: translateY(15px) rotate3d(1, 0, 0, 50deg);
}
